<div class="col-md-6"> 
  <div class="panel panel-default" style="margin-top: 50px">
    <div class="panel-heading">
      <h3 class="panel-title">Greet the world</h3>
    </div>
    <div class="panel-body">
      <%= form_with(model: @article, local: true) do |f| %>
        <p>
          <%= f.label :message, "Please type your message" %> <br/>
          <%= f.text_field :message %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <%end%>
    </div>
  </div>
</div>